/* Whole page styles */
html,
body {
  margin: 0 auto;
  padding: 0;
  position: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Header  */
.custom-background-img {
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 450px;
}

.page-title > h1 {
  font-size: 64px;
}

@media (max-width: 600px) {
  .page-title > h1 {
    font-size: 42px;
  }
}

/* Body */
.page-content {
  text-align: center;
  padding: 5%;
}

/* Front Page */
.front-page-title {
  padding-bottom: 7%;
}

/* Contact Page */
.contact-form {
  margin-bottom: 5%;
}

/* Adopt Page */

.cat-container {
  display: grid;
  grid-template-columns: auto auto;
}

.cat-card {
  width: 60%;
  margin: 2em;
}

@media (max-width: 600px) {
  .cat-container {
    grid-template-columns: auto;
  }

  .cat-card {
    width: 80%;
  }
}

/* Donate page */
.donate-intro {
  padding-top: 1em;
  padding-bottom: 1em;
}

.donate-content {
  font-size: 20px;
}

/* Footer */
footer {
  width: 100%;
  padding: 2.5%;
  bottom: 0;
  text-align: center;
}

.cat-image-container {
  margin-top: 20px;
}

li {
  list-style: none;
}

.product {
  margin-top: 30px;
}
